@using AppointmentScheduling.Helpers
@model AppointmentScheduling.Models.ViewModels.RegisterVM;

<h2>Sign Up</h2>
<form method="post" asp-action="Register">
    <h4>Create new account</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2" asp-for="Name"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2" asp-for="Email"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2" asp-for="RoleNme"></label>
        <div class="col-md-10">
            <select asp-for="RoleNme" asp-items="@UserTypes.UTypes" class="form-control">
                <option value="@null" selected>--- Select Role ---</option>
            </select>
            <span asp-validation-for="RoleNme" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2" asp-for="Password"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2" asp-for="ConfirmPassword"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-10 offset-md-2">
        <input type="submit" value="Sign Up" class="btn btn-outline-primary"/>
    </div>
    <br/>
    <div class="col-md-10 offset-md-2">
        <a>Sign In </a>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
