<div class="row">
    <div class="container">
        @if (User.IsInRole(AppointmentScheduling.Helpers.UserTypes.Admin)) {
            <div class="form-group row col-2" id="divDoctorList">
                @Html.DropDownList("doctorId", new SelectList(ViewBag.Doctors, "Id", "Name"), new { @class = "form-control select2" })
            </div>
        }
        <div id="calendar"></div>
    </div>
</div>